<% provide(:title, 'All users') %>
<h1>All users</h1>
<%= render 'search_users' %>
Endless scrolling <button class="enable_scrolling_button"><i class="fa fa-check"></i></button>
<button class="disable_scrolling_button active"><i class="fa fa-times"></i></button>

<input type="button" class="btn btn-primary" value="activation button"  id="one" >
<input type="button" class="btn btn-primary" value="hide users"    id="two" disabled="disabled"/>

<ul class="users" id='users'>
  <%= render @users %>
</ul>

<%= will_paginate @users %>
