<% provide(:title, @title) %>
<div class="row">
  <aside class="span4">
    <%= render 'home_show_follow' %>
    <%= render 'followers_show_follow' %>
  </aside>
  <%= render 'users_show_follow' %>
</div>
