<li>
  <span class="content"><%= raw(micropost.content) %></span>
  <span class="timestamp">
    Posted <%= time_tag(micropost.created_at, class:"timeago") %>
  </span>
  <%= render 'shared/delete_micropost', micropost: micropost %>
</li>
